{% extends "base.html" %} {% block content %}
<div class="main-layout">
  <!-- Include Side Menu Component -->
  {% include 'files-upload.html' %}

  <!-- Main Content -->
  <main class="main-content">
    <div class="content-header">
      <h2>Files List</h2>
      <button id="openSideMenu" class="open-side-menu-button">
        <span class="menu-icon">📁</span>
        Upload Files
      </button>
    </div>

    <table>
      <head>
        <tr>
          <th>Name</th>
          <th>Creation Date</th>
        </tr>
      </head>
      <body>
        {% for file in files %}
        <tr onclick="handleFileClick('{{ file.key }}', '{{bucket}}');">
          <td>
            <a href="/api/v1/{{bucket}}/{{ file.key }}">{{ file.key }}</a>
          </td>
          <td>{{ file.last_modified }}</td>
        </tr>
        {% endfor %}
      </body>
    </table>
  </main>
</div>

<!-- Include File Preview Component -->
{% include 'files-preview.html' %}

<script>
  async function uploadFile(form) {
    const file = form.file.files[0];
    const filename = form.name.value || file.name;
    const response = await fetch(`/api/v1/{{ bucket }}/${filename}`, {
      method: "PUT",
      body: file,
    });
    if (response.ok) {
      window.location.reload();
    }
  }
</script>

{% endblock %}
